
.main-banner{
    position: absolute;
    z-index: 1;
}
.main-banner img{
    width: 100%;
}
.main-article{
    background-color: #fff;
    width: 95%;
    margin: 0 auto;
    border-radius:3%;
    padding: 50px;
    position: relative ;
    top: 320px;
    z-index: 2;

}
.main-footer{
    position:relative ;
    top: 320px;
}
.main-section1{
    width: 100%;
}
h2{
    font-size: 34px;
    margin-bottom: 60px;
}
.section1-dl{
    width: 22%;
    float: left;
    margin: 0 0 70px 4%;
}
.section1-dl:nth-child(2){
    margin-left: 0;
}
.dt1,.dt2,.dt3,.dt4{
    font-size: 24px;
    padding: 90px 0 0 0;
    margin-bottom: 30px;
}
.dt1{
    background: url(./../images/icon_01.png) no-repeat;
    background-size:65px,100%; 

}
.dt2{
    background: url(./../images/icon_02.png) no-repeat;
    background-size:65px,100%; 
}
.dt3{
    background: url(./../images/icon_03.png) no-repeat;
    background-size:65px,100%; 
}
.dt4{
    background: url(./../images/icon_01.png) no-repeat;
    background-size:65px,100%; 
}
dd{
    font-size: 14px;
    margin-bottom: 20px;
}

.h-ul{
    width: 100%;
    margin: 0 auto;
    font-size: 22px;
}
.h-ul>li{
    float: left;
    margin: 0 150px 50px 10px;
}
.job1-ul,.job2-ul,.job3-ul{
    font-size: 18px;
}
.job1-ul li,.job2-ul li,.job3-ul li{
    float: left;
    margin:10px 140px 50px 10px;
}
.job1-ul li:last-child ,.job2-ul li:last-child,.job3-ul li:last-child{
    margin-right: 0;
}
.job1-ul li:nth-child(2) ,.job2-ul li:nth-child(2),.job3-ul li:nth-child(2){
    margin-right: 180px;
}
.job1-ul li:nth-child(3) ,.job2-ul li:nth-child(3),.job3-ul li:nth-child(3){
    margin-right: 200px;
}
.job2-ul li:nth-child(4){
    margin-right: 165px;
}
.job1 img,.job2 img,.job3 img{
    width: 20px;
    height: 20px;
}
.job1-text,.job2-text,.job3-text{
    background-color: #efefef;
    padding: 20px 15px;
}
.text-dl dt{
    font-size: 22px;
    margin: 20px 0;
}