.video-div{
    width: 94%;
    margin: 0 auto;
}
video{
    width: 100%;
}
main{
    background-color: #fff;
}
.text{
    width: 80%;
    margin: 0 auto;
    padding: 60px;
}
.text h3{
    font-size: 34px;
    margin-left:20px ;
}
.text p{
    font-size: 18px;
    margin: 60px 0 0 20px;
}
.list{
    width: 80%;
    margin: 0 auto;
}
.list select,.list ul{
    display: inline-block;
}
.list select{
    width: 120px;
    height: 30px;
    font-size: 16px;
    margin: 0 80px 10px 80px;
}
.list ul li{
    float: left;
    margin-left: 30px;
    font-size: 18px;
    border-right: 1px #000 solid;
    padding-right: 30px;
}
.list ul li:last-child{
    border-right: none;
}
.list ul li a{
    color: #000;
}
.list ul li a:visited{
    font-weight:bold;
    text-decoration: underline yellow 6px;
}
.list ul li a:hover{
    font-weight:bold;
    text-decoration: underline yellow 6px;
}
.list ul li a:active{
    font-weight:bold;
    text-decoration: underline yellow 6px;
}
.void-list{
    width: 94%;
    margin: 40px auto 0 auto;
    padding-bottom: 40px;
}
.void-list li{
    width: 19%;
    float: left;
    margin-left: 14px;
}
.void-list li:first-child{
    margin-left: 0;
}
.void-list figure{
    margin: 0;
}
.void-list img{
    width: 100%;
}